{% extends 'beds/index.html' %}

{% block content %}
<div class="container m-4 p-4 text-center">
<form method="post">
<a href="{% url 'index' %}"><i class="fa fa-home"></i> Back to Home</a>
<div class="card mx-auto" style="width:40%;">
  <div class="card-header bg-warning"><h4>Patient Registration</h4></div>
  <div class="card-body">
    {% csrf_token %}
    <div class="error">{{ form.non_field_errors }}</div>
    <div class="form-group">
      {{ form.name.errors }}
      <label for="{{ form.username.id_for_label }}">Name:</label>
      {{ form.name }}
    </div>
    <div class="form-group">
      {{ form.age.errors }}
      <label for="{{ form.password.id_for_label }}">Age:</label>
      {{ form.age }}
    </div>
    <div class="form-group">
      {{ form.location.errors }}
      <label for="{{ form.password.id_for_label }}">Location:</label>
      {{ form.location }}
    </div>
    <div class="form-group">
      {{ form.district.errors }}
      <label for="{{ form.password.id_for_label }}">District:</label>
      {{ form.district }}
    </div>
    <div class="form-group">
      {{ form.phone.errors }}
      <label for="{{ form.password.id_for_label }}">Phone Number:</label>
      {{ form.phone }}
    </div>
    <div class="form-group">
      {{ form.aadharno.errors }}
      <label for="{{ form.password.id_for_label }}">Aadhar no:</label>
      {{ form.aadharno }}
    </div>
    <div class="form-group">
      {{ form.category.errors }}
      <label for="{{ form.password.id_for_label }}">Category:</label>
      {{ form.category }}
    </div>
  </div>
  <div class="card-footer text-center">
    <input type="submit" class="btn btn-danger" value="submit"><br>
  </div>
</div>
</form>
</div>
{% endblock %}
